<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="699f58cf-59da-4b22-a78b-eace79ae0427" Publisher="CN=Filip Skakun" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WinRTXamlToolkit.StylesBrowser</DisplayName>
    <PublisherDisplayName>Filip Skakun</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRTXamlToolkit.StylesBrowser</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinRTXamlToolkit.StylesBrowser.App">
      <VisualElements DisplayName="WinRTXamlToolkit.StylesBrowser" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WinRTXamlToolkit.StylesBrowser" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>