<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'WinRTXamlToolkit.Sample.UWP' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>8d1b72f8-c6bb-4468-80fe-ea0d9d8629af</InstrumentationKey>
</ApplicationInsights>