<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="WinRTXamlToolkit.Sample-for-Windows-8.1" Publisher="CN=Filip Skakun" Version="1.1.0.1" />
  <Properties>
    <DisplayName>WinRTXamlToolkit.Sample-for-Windows-8.1</DisplayName>
    <PublisherDisplayName>Filip Skakun</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRTXamlToolkit.Sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinRTXamlToolkit.Sample.App">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="txt">
            <DisplayName>txt</DisplayName>
            <InfoTip>txt</InfoTip>
            <SupportedFileTypes>
              <FileType ContentType="text/plain">.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
      <m2:VisualElements DisplayName="XAML Toolkit" Description="WinRTXamlToolkit.Sample" BackgroundColor="#00A000" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>